<library path="src">
  <class name="PLEXIL Planner" type="rqt_plexil_planner.rqt_planner.Planner" base_class_type="rqt_gui_py::Plugin">
    <description>
      A simple GUI that selects PLEXIL plans to be run on the ow_simulator.
    </description>
    <qtgui>
      <label>PLEXIL Planner</label>
      <icon type="theme">system-help</icon>
      <statustip>
      A simple GUI that selects PLEXIL plans to be run on the ow_simulator.
			</statustip>
    </qtgui>
  </class>
</library>
