<library path="src">
  <class name="PLEXIL Plan Selection" type="rqt_plexil_plan_selection.rqt_plexil_plan_selection.PlexilPlanSelectionGUI" 
  base_class_type="rqt_gui_py::Plugin">
    <description>
      A simple GUI that selects PLEXIL plans to be run by the ow_plexil node.
    </description>
    <qtgui>
      <label>PLEXIL Plan Selection</label>
      <icon type="theme">system-help</icon>
      <statustip>
      A simple GUI that selects PLEXIL plans to be run by the ow_plexil node.
			</statustip>
    </qtgui>
  </class>
</library>
