<!-- Launch the Autonomy module, which is a single node. -->

<launch>
  <param name="/use_sim_time" value="false"/>
  <param name="/sample_site_selected_onboard" value="true"/>
  <param name="/communications_delay" type="int" value="30"/>
  <param name="/ground_decision_time_seconds" type="int" value="36"/>
  <param name="/ground_decision_timeout_seconds" type="int" value="130"/>
  <param name="/sample_site_x_from_ground" type="double" value="6"/>
  <param name="/sample_site_y_from_ground" type="double" value="7"/>
  <param name="/sample_site_z_from_ground" type="double" value="0"/>
  <arg name="plan" default="Demo.plx"/>
  <node pkg="ow_autonomy"
        name="autonomy_node"
        type="autonomy_node"
        args="$(arg plan)"
        output="screen" />
  <node pkg="ow_autonomy"
        name="GuardedMoveServer"
        type="GuardedMoveServer"
        output="screen" />
  <node pkg="ow_autonomy"
        name="GroundControl"
        type="GroundControl"
        output="screen" />
</launch>
