<!-- Launch the Autonomy module, which is a single node. -->

<launch>
  <arg name="plan" default="Demo.plx"/>
  <node pkg="ow_autonomy"
        name="autonomy_node"
        type="autonomy_node"
        args="$(arg plan)"
        output="screen" >
      <remap from="/ant_pan_position_controller/command" to="/_original/ant_pan_position_controller/command"/>
      <remap from="/ant_tilt_position_controller/command" to="/_original/ant_tilt_position_controller/command"/>         
</node>
  <node pkg="ow_autonomy"
        name="GuardedMoveServer"
        type="GuardedMoveServer"
        output="screen" />
</launch>
