<?xml version="1.0"?>
<launch>
  <arg name="gazebo" default="true"/>
  <arg name="gui" default="true"/>

  <!-- Start faults node -->
  <node name="faults" pkg="ow_faults" type="faults" output="screen"
    unless="$(arg gazebo)">
  </node>

  <!-- == if specified, launch gazebo with the chosen world without specific rviz = -->
  <include file="$(find ow)/launch/europa_terminator_workspace.launch"
	   if="$(arg gazebo)">
    <arg name="arm_sim_enable" value="true" />
    <arg name="gui" value="$(arg gui)"/>
  </include>

</launch>
