<!-- Launch the plexil_node and terminal selection node. -->

<launch>
  <arg name="plan" default="None"/>
  <arg name="fault_dependencies" default=""/>

  <param name="fault_dependencies_file" type="string" value="$(arg fault_dependencies)"/>
  <param name="fault_dependencies_path" type="string" value="$(find ow_plexil)/src/plans/"/>
  <rosparam file="$(find ow_plexil)/config/fault_dependencies.yaml" />

 <!-- Lets GUI know what plans to display -->
  <param name="owlat_flag" type="boolean" value="False"/>


  <node pkg="ow_plexil"
        name="ow_exec_node"
        type="ow_exec_node"
        args="$(arg plan)"
        output="screen">
  </node>
  <node pkg="ow_plexil"
        name="terminal_selection_node"
        type="terminal_selection_node"
        args="$(arg plan)"
        output="screen">
  </node>

  <node pkg="ow_plexil"
        name="identify_sample_location"
        type="identify_sample_location.py"
        output="screen">
  </node>

</launch>
