<!-- Launch the plexil_node and terminal selection node. -->

<launch>
  <arg name="plan" default="None"/>
  <arg name="fault_hierarchy" default="FaultHierarchy1.xml"/>
  <arg name="verbose_fault_hierarchy" default="False"/>
  <param name="fault_hierarchy_file" type="string" value="$(find ow_plexil)/src/plans/$(arg fault_hierarchy)"/>
  <param name="verbose_fault_hierarchy_flag" type="boolean" value="$(arg verbose_fault_hierarchy)"/>

 <!-- Lets GUI know what plans to display -->
  <param name="owlat_flag" type="boolean" value="False"/>


  <node pkg="ow_plexil"
        name="ow_exec_node"
        type="ow_exec_node"
        args="$(arg plan)"
        output="screen">
  </node>
  <node pkg="ow_plexil"
        name="terminal_selection_node"
        type="terminal_selection_node"
        args="$(arg plan)"
        output="screen">
  </node>

  <node pkg="ow_plexil"
        name="identify_sample_location"
        type="identify_sample_location.py"
        output="screen">
  </node>

</launch>
