<!-- Launch the plexil_node and terminal selection node. -->

<launch>
  <arg name="plan" default="None"/>

  <node pkg="ow_plexil"
        name="plexil_node"
        type="plexil_node"
        args="$(arg plan)"
        output="screen">
  </node>
  <node pkg="ow_plexil"
        name="terminal_selection_node"
        type="terminal_selection_node"
        args="$(arg plan)"
        output="screen">
  </node>

  <node name="republish" 
        type="republish" 
        pkg="image_transport" 
        output="screen" 
        args="_image_transport:=compressedDepth compressed in:=/StereoCamera/left/image_rect raw out:=/StereoCamera/left/image_rect/Depth_raw " />

</launch>
